In [17]:
import pandas as pd 
from datetime import datetime
import csv
from airflow.providers.postgres.hooks.postgres import PostgresHook

In [2]:
def kevin_to_celcius(k):
    c =float(k)-273
    return round(c,2)

In [3]:
# def transforming():
data = {"coord":{"lon":105.8412,"lat":21.0245},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"base":"stations","main":{"temp":297.15,"feels_like":297.77,"temp_min":297.15,"temp_max":297.15,"pressure":1016,"humidity":83,"sea_level":1016,"grnd_level":1014},"visibility":10000,"wind":{"speed":3.38,"deg":2,"gust":8.33},"clouds":{"all":100},"dt":1698614196,"sys":{"type":1,"id":9308,"country":"VN","sunrise":1698620272,"sunset":1698661356},"timezone":25200,"id":1581130,"name":"Hanoi","cod":200}

In [4]:
name = data['name']
description = data['weather'][0]['description']
data_1 = data['main']
temp = kevin_to_celcius(data_1['temp'])
feels_like = kevin_to_celcius(data_1['feels_like'])
temp_min = kevin_to_celcius(data_1['temp_min'])
temp_max = kevin_to_celcius(data_1['temp_max'])
pressure = data_1['pressure']
humidity = data_1['humidity']
wind = data['wind']['speed']
time_of_record = datetime.utcfromtimestamp(data['dt']+data['timezone'])
sunrise = datetime.utcfromtimestamp(data['sys']['sunrise']+data['timezone'])
sunset = datetime.utcfromtimestamp(data['sys']['sunset']+data['timezone'])

In [27]:

value = [name,description,temp,feels_like,temp_min,
        temp_max,pressure,humidity,wind,time_of_record,
        sunrise,sunset]
schema = ['City', 'Description','Temperature(C)',
          'Feels Like(C)','Minimum Temp(C)','Maximun Temp(C)',
          'Pressure','Humidity','Wind Speed',
          'Time of record','Sunrise(Local Time)','Sunset(Local Time)']
data ={schema[i]:value[i] for i in range(0,12)}
df = pd.DataFrame([data])
df

,City,Description,Temperature(C),Feels Like(C),Minimum Temp(C),Maximun Temp(C),Pressure,Humidity,Wind Speed,Time of record,Sunrise(Local Time),Sunset(Local Time)
0,Hanoi,overcast clouds,24.15,24.77,24.15,24.15,1016,83,3.38,2023-10-30 04:16:36,2023-10-30 05:57:52,2023-10-30 17:22:36

'City,Description,Temperature(C),Feels Like(C),Minimum Temp(C),Maximun Temp(C),Pressure,Humidity,Wind Speed,Time of record,Sunrise(Local Time),Sunset(Local Time)'

'Hanoi,overcast clouds,24.15,24.77,24.15,24.15,1016,83,3.38,2023-10-30 04:16:36,2023-10-30 05:57:52,2023-10-30 17:22:36'